*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');
body {
	background: #f0ebe3;
}

.top {
	width: 100%;
	height: 110px;
	background-color: #22432f;
	
}

.title {
	text-align: center;
	padding: 20px 0px 0px;
	color: #f0ebe3;
	font-family: Arima;
}

.img {
	width: 100%;
}
.subtit {
	text-align: center;
	color: #f0ebe3;
	font-family: Arima;
	font-size: 15px;
}

.wrapper {
	width: 100%;
}

.img-banner {
	display: none;
}

.img-info {
	width: 100%;
}

.img-info h2 {
	padding: 30px 30px 20px;
	font-family: Arima;
	font-size: 40px;
	color: #22432f;
	line-height: 40px;
}

.img-info p {
	padding: 0px 30px 20px;
	font-family: Arima;
	font-size: 16px;
	color: #22432f;
	line-height: 24px;
}

.img-info2 {
	width: 100%;
}

.img-info2 h2 {
	padding: 30px 30px 20px;
	font-family: Arima;
	font-size: 40px;
	color: #22432f;
	line-height: 40px;
	text-align: ;
}

.img-info2 p {
	padding: 0px 30px 20px;
	font-family: Arima;
	font-size: 16px;
	color: #22432f;
	line-height: 24px;
}

.img-me {
	width: 100%;
}
.pijit {
	border: 0;
	background: #22432f;
	display:block;
	margin: 20px auto;
	text-align: center;
	
	padding: 8px 40px;
	outline: none;
	color: #f0ebe3	;
	border-radius: 3px;
	transition: 0.25s;
	cursor: pointer;
	font-family: Arima ;
	font-weight: 500;

}


@media only screen and (min-width: 786px) {
	.img-banner {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}

	.wrapper {
		width: 600px;
		margin: 0 auto;
	}

	.img-info h2 {
		padding: 20px 0px 0px;
	}

	.img-info p {
		padding: 20px 0px 0px;
	}

	.img-info2 h2 {
		text-align: center;
	}

	.img-info2 p {
		padding: 20px 0px 0px;
		padding-left: 20px;
	}

	.img-me {
		padding-top: 30px;
	}

}